﻿@page "/"

<h1>Hello Blazor!</h1>

This is in Index.razor

<p>Current count: @currentCount</p>

<button @onclick="IncrementCount">Increment counter</button>

@code {
    // Here are instructions to include one Razor compenent inside another:
    // https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio-code

    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
        Console.WriteLine($"Incremented count to {currentCount}");
    }
}

